{% include header.html %} 
<main class="homeContent">
  <div class="home-main">
    <div class="home-mainheader">
      Developer documentation for Learn and other Anthology products is now located at:</br>
      <b><big>
      <a href="https://docs.anthology.com">https://docs.anthology.com</a>
    </big></b>
      </br>
      </br>
      Also note that the URL for the developer portal is now:</br>      
      <b><big>
      <a href="https://developer.anthology.com">https://developer.anthology.com</a>
    </big></b>      
    </div>
  </div>
</main>
{% include footer.html %}
